<%= render 'form' %>
<%= form_with(model: @user, local: true) do |form| %>
  <div class ="container">
    <br>
    <%= form.text_field :name , placeholder: "Enter Your name " %><br>
    <br>
    <%= form.text_field :email, placeholder: "Enter Your Email address" %><br>
    <br>
    <%= form.password_field :password, placeholder: "Enter Your password" %><br>
    <br>
    <%= form.password_field :password_confirmation, placeholder: "Enter Your password" %><br>
    <br>
    <%= form.submit " Create my account" %>
    </div>
  <br><br> 
<% end %>
  